<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>🔥 Members Only 🔥</title>
	<link rel="stylesheet" href="/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
	<div class="background"></div>

	<header>
		<h1 class="neon-text">MEMBERS ONLY</h1>
		<nav>
			<a class="btn" href="/members">Become Insider</a>
			<a class="btn" href="/logout">Logout</a>
		</nav>
		<h4 class="glow-text">Welcome Back! <%= currentUser.first_name %>
				<%= currentUser.last_name %>
		</h4>
	</header>

	<main>
		<div class="messages">
			<% if (messages.length===0) { %>
				<p class="glow-text">No messages yet.</p>
				<% } %>

					<% messages.forEach(msg=> { %>
						<div class="message-card">
							<h3 class="glow-text">
								<%= msg.title %>
							</h3>

							<p class="glow-text">
								<%= msg.body %>
							</p>
							<p class="meta">
								<% if (isMember) { %>
									— <%= msg.first_name %>
										<%= msg.last_name %>
											| <%= new Date(msg.created_at).toLocaleString() %>
												<% } else { %>
													— Anonymous
													<% } %>
							</p>

						</div>
						<% }) %>
		</div>

	</main>

	<footer>
		<p>&copy; 2025 Members Only. All rights reserved.</p>
	</footer>
</body>

</html>